* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: black;
}
body::-webkit-scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
header {
  position: relative;
  transition: top 4s;
  transition: height 0.5s;
  top: -250dvh;
  width: 100dvw;
  height: 7dvh;
  background-color: aqua;
  font-size: 2rem;
}
header:hover {
  height: 10dvh;
}
.cabecario {
  top: 0;
}
main {
  transition: all 2.5s;
  position: relative;
  top: -200dvh;
  background-color: chocolate;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.titulo {
  font-size: 3rem;
}
footer {
  background-color: chartreuse;
  width: 100dvw;
  height: 10dvh;
  opacity: 0;
  position: fixed;
  transition: all 0.5s;
  bottom: -5dvh;
}
footer:hover {
  opacity: 1;
  bottom: 0;
}
